{{!-- <div class="jumbotron ml-3 mr-3 mt-3">
  <h1 class="display-4">Techno Writer</h1>
  <p class="lead">“Here’s everything you need to know about creating killer content in 3 simple words: Clear. Concise. Compelling.” – @demianfarnworth</p>
  <hr class="my-4">
  <p>Your email is safe. By Clickting this Button, you confirm that you have read and agree with our privacy policy.</p>
  <a class="btn btn-dark " href="/auth/google" role="button"><img src="https://unsplash.com/photos/lKjX3S4pdog">Google</a>
</div> --}}

<div class="container login-container">
  <div class="card">
    <div class="card-content"></div>
    <h3><i class='fa fa-edit' style="color: #E53935;"></i> Techno book </h3>
    <div class="section">
      <p class="lead">“Here’s everything you need to know about creating killer content in 3 simple words:<b> Clear.
        Concise. Compelling</b>.” – @demianfarnworth</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <a href="/auth/google" class="btn red darken-1">
      <i class="fab fa-google left"></i>Log in With Google
      </a>
    </div>
  </div>
</div>